
{% extends 'MainBundle:eshop:main.html.twig' %}
{% block content %}
    <h2 xmlns="http://www.w3.org/1999/html"> <i class=" glyphicon glyphicon-flash"></i> les ventes flashes ouvertes</h2>
    <div class="container">
        <div class="row">
            <div id="myCarousel" class="carousel  slide">
                <!-- Dot Indicators -->

                <!-- Items -->
                <div class="carousel-inner">
                    <div class="active item">  <img src="{{asset('bundles/images/banner.jpg')}}" class="img-responsive"></div>
                    <div class="item">  <img src="{{asset('bundles/images/banner.jpg')}}" class="img-responsive"></div>
                </div>
                <!-- Navigation -->

            </div>
        </div>
    </div>
 <br>
    <br>

    <div class="row featuredPostContainer ">
        <div class="featuredImageLook3">
            {% for venteFlash in venteFlashes %}
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                    <div class="inner">
                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1 class="uppercase"><h2>{{ venteFlash.nom  |trans }}</h2></h1>
                                        <hr class="submini">

                                        <a href="{{ path("venteflash_show",{"id":venteFlash.id}) }}" class="btn btn-inverse">Acceder Maintenant</a></div>

                                </div>
                            </div>
                        </div>

                    <!--/.box-content-overly -->
                    <div class="img-title"><h1>{{ venteFlash.nom  |trans }}</h1> </div>
                    <a class="img-block" href="{{ path("venteflash_show",{"id":venteFlash.id}) }}" > <img class="img-responsive" src="{{ asset('bundles/images/')~ venteFlash.imageName }}" }}  alt="img"  height="400" width="600"></a>
                        <div class=container"><h1> <div id={{ venteFlash.id  |trans }} >  </div></h1></div>
                    </div>
                    </div>

                    <script>




                    window.setInterval(countDown, 1000);

                    function countDown() {
                        var now = new Date();
                        var future = new Date("{{ venteFlash.finish|  date }}").getTime();
                        var timeLeft = future - now;
                        var milli = timeLeft;

                        var seconds = milli / 1000;
                        var minutes = seconds / 60;
                        var hours = minutes / 60;
                        var days = hours / 24;
                        var spareSeconds = seconds % 60;
                        var spareMinutes = minutes % 60;
                        var spareHours = hours % 24;
                        var spareDays = days % 365;

                        minutes = parseInt(minutes);
                        hours = parseInt(hours);
                        days = parseInt(days);
                        spareSeconds = parseInt(spareSeconds);
                        spareMinutes = parseInt(spareMinutes);
                        spareHours = parseInt(spareHours);
                        spareDays = parseInt(spareDays);

                        days = padNumber(days);
                        hours = padNumber(hours);
                        minutes = padNumber(minutes);
                        spareSeconds = padNumber(spareSeconds);
                        spareMinutes = padNumber(spareMinutes);
                        spareHours = padNumber(spareHours);
                        spareDays = padNumber(spareDays);

                        timeLeft = spareDays + ":" + spareHours + ":" + spareMinutes + ":" + spareSeconds;
                        var mySpan = document.getElementById("{{ venteFlash.id | trans }}");
                        mySpan.innerHTML = timeLeft;

                        if (milli <= 0) { //Time's run out! If all values go to zero
                            mySpan.innerHTML = "00:00:00";
                        }
                    }

                    function padNumber(number) {
                        if (number < 10) {
                            number = "0" + number;
                        }
                        return number;
                    }
                </script>


            {% endfor %}
        </div></div></div>
    </div>

{% endblock %}


