{% for venteFlash in venteFlashes %}
    <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
            <div class="box-content-overly box-content-overly-white">
                <div class="box-text-table">
                    <div class="box-text-cell ">
                        <div class="box-text-cell-inner dark">
                            <h1 class="uppercase">{{ venteFlash.nom }}</h1>s

                            <p>{{ venteFlash.description }}</p>
                            <hr class="submini">
                            <a class="btn btn-inverse"  href="{{ path("venteflash_show",{"id":venteFlash.id}) }}"> <?php echo date(); ?></a></div>
                    </div>
                </div>
            </div>
            <!--/.box-content-overly -->
            <div class="img-title"> Sale Offers</div>
            <a class="img-block" href="{{ path("venteflash_show",{"id":venteFlash.id}) }}" > <img class="img-responsive" src="{{ asset( venteFlash.imageName.getWebPath())}}" }} alt="img"></a>
        </div>
    </div>
{% endfor %}
</div></div>

{% endblock %}