




    {% for product in products %}
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">

                <a href=""><img style="height: 250px; " src="{{ asset('bundles/images/'~ product.imageName) }}" alt="img"
                                class="img-responsive"></a>

                <div class="promotion"><span class="discount">{{ product.pourcentagePromotion }}% OFF</span></div>
            </div>
            <div class="description">
                <h4><a href="{{ path('product_show', { 'id': product.id}) }}">{{  product.libelle }} </a></h4>

                <div class="grid-description">
                    <p>{{ product.Categorie.nom }}</p>
                </div>
                <div class="list-description">
                    <p> {{  product.description|raw }} </p>
                </div>
                <div class="price"><span>{{  product.prixProduit }} <strong>DT</strong></span></div>

                <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                                    class="glyphicon glyphicon-shopping-cart"> </i> Ajout au panier </span> </a>
                <a  href="{{ path('product_show', { 'id': product.id}) }}" class="btn btn-success"> <span><i
                                    class="glyphicon glyphicon-zoom-in"> </i> view more </span> </a></div>
            </div>
        </div></div></div>
{% endfor %}

    </div>
</div>
