<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        {% if is_granted('ROLE_USER') %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <div class="pull-left ">
                            <ul class="userMenu ">
                                <li><a href="#"> <span class="hidden-xs">HELP</span><i class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                                <li class="phone-number"><a href="callto:+216 41747037"> <span> <i class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs" style="margin-left:5px"> +216 41747037 </span>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                        <div class="pull-right">
                            <ul class="userMenu">


                              {% if is_granted('ROLE_ADMIN') %}
                                   <li><a href="{{ path('mainaddminn') }}"><span class="hidden-xs">espace Administrateur</span> <i class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                                   {% endif %}
                               
                        <li class="dropdown hasUserMenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="glyphicon glyphicon-log-in hide visible-xs "></i> {{ app.user.username}} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_edit') }}"></i> Modifier Profil</a></li>
                                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa fa-cog"></i> Profile</a></li>
                                        <li><a href="{{ path('user_wishlist') }}" title="My wishlists">
                                                <i class="fa fa-heart"></i>
                                                Ma wishlist
                                            </a></li>
                                              {% if app.user.statutcoupon == 1  %}
                                        <li><a href="{{ path('coupon_index') }}" title="Mes Coupons">
                                                <i class="fa fa-fw fa-clock-o"></i>
                                                Mes Coupons
                                            </a></li>
                                            {% endif %}
                                        <li class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa  fa-sign-out"></i> Déconnexion</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <div class="pull-left ">
                            <ul class="userMenu ">
                                <li><a href="#"> <span class="hidden-xs">HELP</span><i
                                                class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                                <li class="phone-number"><a href="callto:+216 41747037"> <span> <i
                                                    class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs"
                                                                                                             style="margin-left:5px"> +216 41747037</span>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                        <div class="pull-right">
                            <ul class="userMenu">

                                <li><a href="{{ path('fos_user_security_login') }}" > <span class="hidden-xs">Se Connecter</span>
                                <li><a href="{{ path('fos_user_registration_register') }}" > <span class="hidden-xs">Inscription</span>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!--/.navbar-top-->




















    <div class="container">
    
   <div class="nav navbar-nav navbar-right hidden-xs">
                <div class="dropdown  cartMenu "><a href="{{path('my_cart')}}" class="dropdown-toggle" > <i
                        class="fa fa-shopping-cart"> </i> <span class="cartRespons"> Mon Panier </span> </a>

          
                    <!--/.dropdown-menu-->
                </div>
                <!--/.cartMenu-->

           
                <!--/.search-box -->
            </div>






        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                        class="fa fa-shopping-cart colorWhite"> </i> <span
                        class="cartRespons colorWhite"> Cart ($210.00) </span></button>
            <a class="navbar-brand " href="{{path('main_homepage')}}"> <img src="{{asset('bundles/eshop/images/logo.png')}}" alt="TSHOP"> </a>

            <!-- this part for mobile -->

        </div>

        <!-- this part is duplicate from cartMenu  keep it for mobile -->
        <div class="navbar-cart  collapse">
            <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">

            </div>
            <!--/.cartMenu-->
        </div>
        <!--/.navbar-cart-->

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ path('user_index') }}"> Les membres
                    </a></li>
                <li class=""><a href="{{ path('venteflash_list') }}"><i class="fa fa-fw fa-clock-o"></i> les ventes flash </a></li>
                <li class=""><a href="{{ path('product_index') }}"><i class="fa fa-fw fa-caret-square-o-down"></i> les  produits </a></li>
                <li class=""><a href="{{ path('coupon_list') }}"><i class="fa fa-fw fa-sticky-note"></i> les coupons </a></li>
                <li class=""><a href="{{ path('Magasin_List') }}"><i class="fa fa-fw fa-home"></i> les magazins </a></li>



                <li class="dropdown megamenu-fullwidth"><a data-toggle="dropdown" class="dropdown-toggle" href="#"> New
                        Products <b class="caret"> </b> </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                                <li class="no-border">
                                    <p class="promo-1"><strong> NEW COLLECTION </strong></p>
                                </li>
                                <li><a href="category.html"> ALL NEW PRODUCTS </a></li>
                                <li><a href="category.html"> NEW TOPS </a></li>
                                <li><a href="category.html"> NEW SHOES </a></li>
                                <li><a href="category.html"> NEW TSHIRT </a></li>
                                <li><a href="category.html"> NEW TSHOP </a></li>
                            </ul>
                            <ul class="col-lg-3  col-sm-3 col-md-3  col-xs-4">
                                <li><a class="newProductMenuBlock" href="product-details.html"> <img
                                                class="img-responsive" src="{{asset('bundles/eshop/images/site/promo1.jpg')}}" alt="product"> <span
                                                class="ProductMenuCaption"> <i class="fa fa-caret-right"> </i> JEANS </span>
                                    </a></li>
                            </ul>
                            <ul class="col-lg-3  col-sm-3 col-md-3 col-xs-4">
                                <li><a class="newProductMenuBlock" href="product-details.html"> <img
                                                class="img-responsive" src="{{asset('bundles/eshop/images/site/promo2.jpg')}}" alt="product"> <span
                                                class="ProductMenuCaption"> <i
                                                    class="fa fa-caret-right"> </i> PARTY DRESS </span> </a></li>
                            </ul>
                            <ul class="col-lg-3  col-sm-3 col-md-3 col-xs-4">
                                <li><a class="newProductMenuBlock" href="product-details.html"> <img
                                                class="img-responsive" src="{{asset('bundles/eshop/images/site/promo3.jpg')}}" alt="product"> <span
                                                class="ProductMenuCaption"> <i class="fa fa-caret-right"> </i> SHOES </span>
                                    </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- change width of megamenu = use class > megamenu-fullwidth, megamenu-60width, megamenu-40width -->


                <!-- change width of megamenu = use class > megamenu-fullwidth, megamenu-60width, megamenu-40width -->

            


            </ul>


            </ul>


            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <!--/.search-full-->

</div> <br><br>