










<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste Produits</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Magasin</th>
                            <th>libelle</th>
                            <th>Adresse</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for p in products %}
                            <tr>
                            <td>
                                <select name="mag[]"  id="hi"class="js-categorie form-control">

                                   {% if p.magasin is null %}
                                       <option  value=null>nothing</option>
                                       {% for m in magasins %}

                                               <option  value="{{ m.name }}">{{ m.name }}</option>

                                       {% endfor %}

                                   {% else %}
                                       <option  value="{{ p.magasin.name }}">{{ p.magasin.name }}</option>
                                        {% for m in magasins %}
                                            {% if m.name == p.magasin.name %}

                                            {% else %}
                                            <option  value="{{ m.name }}">{{ m.name }}</option>
                                            {% endif %}

                                        {% endfor %}
                                   {% endif %}




                                </select></td>
                            <input type="hidden" name="products[]" value="{{ p.id }}">
                            <td >{{ p.libelle }}</td>
                        {% if  p.magasin is  null %}<td> <span  >produit libre</span>  </td>
                                {%  else  %}
                                <td> <span  >{{ p.magasin.name }}</span>  </td>
                                {% endif %}

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div></section>


















